.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #f3e5d8;
    
}
.recipe {
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-top: 75px;
    padding: 30px;
}

.om {
    width: 100%;
    height: auto;
    border-radius: 20px;
    height: auto;
    position: relative;
    
}
h1  {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color:  hsl(24, 5%, 18%); 
}

.def {
   color: #656563;
   font-size: 16px;
   font-family: 'Outfit', sans-serif; 
   font-weight: 400;
   margin-bottom: 30px;
}

.time {
    color: hsl(332, 51%, 32%);
    font-size: 16px;
   font-family: 'Outfit', sans-serif; 
   font-weight: 600;
   text-align: left;
}
.t1 ul li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 10px;
}

ul li {
    font-size: 16px;
    font-family: 'Outfit', sans-serif; 
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.t1 {
    margin-left: 30px;
    margin-bottom: 30px;
}

h2{
    color: hsl(14, 45%, 36%);
}

.ing ul li::marker {
     
   color: hsl(14, 45%, 36%);
   font-size: 10px;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif; 
    font-weight: 400;
}
.ol, .n, th {
    font-size: 16px;
    font-family: 'Outfit', sans-serif; 
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-bottom: 30px;
}

table.tb {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Outfit', sans-serif;
}

table.tb th,
table.tb td {
    padding: 10px;
    text-align: left;
}

table.tb tr {
    width: 100%;
    border-bottom: 1px solid #ccc; /* خط بين الصفوف */
}

table.tb tr:last-child {
    border-bottom: none; /* إزالة الخط من آخر صف */
}
td {
   color: hsl(14, 45%, 36%);
   font-weight: bold;
}